body {
    background-color: #f5ebe0;
    max-width: 100%;
    h2 {
        font-family: 'Cormorant Garamond', serif;
    }
    div {
        display: grid;
        grid-template-rows: 300px auto 120px;
        max-width: 100%;
        @media screen and (max-width: 412px) {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
}