//galeria de imagenes//
.divGaleria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100vw;
    .imgGaleria {
        width: 21.8rem;
        transition: 0.7s;
        margin-top: 3.25rem;
        &:hover {
            transform: translate(0px, -30px);
        }
    }
}